buoi_2/b1_benhvien.dtd

<!ELEMENT hospital (app:appointment+)>
<!ATTLIST hospital
    xmlns CDATA #REQUIRED
    xmlns:pat CDATA #REQUIRED
    xmlns:doc CDATA #REQUIRED
    xmlns:app CDATA #REQUIRED
>

<!ELEMENT app:appointment (pat:patient, doc:doctor)>
<!ATTLIST app:appointment
    id ID #REQUIRED
    date CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT pat:patient (pat:name, pat:dob)>
<!ATTLIST pat:patient
    id ID #REQUIRED
>

<!ELEMENT pat:name (#PCDATA)>
<!ELEMENT pat:dob (#PCDATA)>

<!ELEMENT doc:doctor (doc:name, doc:specialty)>
<!ATTLIST doc:doctor
    id ID #REQUIRED
>

<!ELEMENT doc:name (#PCDATA)>
<!ELEMENT doc:specialty (#PCDATA)>
